<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
    <h1>Student form</h1>
    <form th:action="@{/students/create}" th:method="POST" th:object="${student}">
        <div>
            Name <input type="text" th:field="*{name}" required>
            <p class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
        </div>
        <div>
            Email <input type="text" th:field="*{email}" required>
            <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        </div>
        <div>
            Password <input type="text" th:field="*{password}" required>
            <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{name}"></span>
        </div>
        <div>
            Rollnumber <input type="text" th:field="*{rollNumber}" required>
            <span class="error" th:if="${#fields.hasErrors('rollNumber')}" th:errors="*{name}"></span>
        </div>
        <div>
            <input type="submit" value="Submit">
            <input type="reset" value="Reset">
        </div>
    </form>
</body>
</html>